.gitignore
test/
coverage/
.eslintrc.js
tsconfig.json
.github/
.eslintignore
src/
tsup.config.ts
jest.config.mjs
examples/
*.tgz
.prettierrc.mjs
.prettieriignore
docs/
.prettierignore
.vscode/
typedoc.json
CODE_OF_CONDUCT.md